---
layout: default
---

<!-- 

What I'm going to do, is to practice HTML5, CSS3, and then migrate to Sass.

This is to improve my web designing skills as well as create a good-looking one-shot portfolio.

-->

<div class="main_table">
  <div class="main_row">
    <div class="sidebar">
      <p>TESTING COLUMN 1</p>
      <p>TESTING COLUMN 2</p>
      <p>TESTING COLUMN 3</p>
      <p>TESTING COLUMN 4</p>
    </div>
    
    <div class="blogs">

      <div class="section_title">
        <h2 id="section_header2">Latest Blogs</h2>
      </div>

      {% for post in site.posts %}
        <article class="post blog_content">    
          <div class="title">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>

          <div class="date">
            <h4 class="custom_h4">Written on {{ post.date | date: "%B %e, %Y" }}</h4>
          </div>

          {% assign wordCount = {{ post.content | size }} %}
          {% if wordCount > 120 %}
            <div class="entry">
              {{ post.content | truncateWords: 120 }}
            </div>
            <div class="small-navigation">
              <a href="{{ post.url }}" class="read-more">Read More</a>
              <a href="{{ site.baseurl }}/{{ site.blogs }}" class="read-more">Back to Top</a>
            </div>
          {% else %}
            <div class="entry">
              {{ post.content }}
            </div>
            <a href="{{ site.baseurl }}/{{ site.blogs }}" class="back-to-top">Back to Top</a>
            <br />
            <hr class="custom_hr">
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</div>