---
layout: default
---

<!-- 

What I'm going to do, is to practice HTML5, CSS3, and then migrate to Sass.

This is to improve my web designing skills as well as create a good-looking one-shot portfolio.

-->

<div class="home_main">
  <div class="home_project">
    <h3>Most Active Project</h3>
    {% assign sorted = site.posts | sort: date:"%B %m %Y" %}
    {% assign flag = false %}
    {% for project in sorted %}
      {% unless flag %}
        {% if project.tag contains "project" and project.isCurrentProject == true %}
          <div class="home_project_showcase">
            <p><a href="{{ project.projectUrl }}"><img src="{{ site.baseurl }}/assets/{{ project.showcaseImage }}"></a></p>
            <p class="title"><a href="{{ project.projectUrl }}">{{ project.title }}</a></p>
          </div>
          {% assign flag = true %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>
  <hr class="home_custom_hr">
  <div class="home_blog">
    <h3>Latest Blog</h3>
    {% assign sorted = site.posts | sort: date:"%B %m %Y" %}
    {% assign flag = false %}
    {% for project in sorted %}
      {% unless flag %}
        {% unless project.tag contains "project" %}
          {% unless project.tag contains "side" %}
            <div class="home_blog_showcase">
              <p class="home_blog_title"><a href="{{ project.projectUrl }}">{{ project.title }}</a></p>
              {% assign wordCount = project.content | size %} 
              {% if wordCount > 40 %}
                <div class="home_entry">
                  <p class="home_blog_content">{{ project.content | truncatewords:40 }}</p>
                </div>
                <div class="home_small_navigation">
                  <a href="{{ project.url }}" class="read-more">Read More</a>
                  <a href="{{ site.baseurl }}/" class="back-to-top">Back to Top</a>
                </div>
              {% else %}
                <div class="home_entry">
                  {{ project.content }}
                </div>
                <a href="{{ site.baseurl }}/" class="back-to-top">Back to Top</a>
              {% endif %}
            </div>
            {% assign flag = true %}
          {% endunless %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  </div>
</div>