---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 50%;
  max-height: 50%
}

img.displayed {
    display: block;
    margin: 0 auto;
    clear: right;
}

img.avatar {
  max-width: 100%;
  max-height: 100% 
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-top: 10px;
  margin-bottom: 40px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue; 
  font-size: 16px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 14px;
    margin-right: 2em;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

//-------------    footer     ------------------

footer {
  padding: 0 0 0 0;
  text-align: center;
}

.footer_note {
  border-top: 2px solid #000000;
}

.footer_note a {
  color: #f9521a;
  letter-spacing: -1px;
}

.footer_note p {
  display: inline-block;
  font-size: 14px;
  padding: 0 8px 0 8px;
  margin: 0 0 0 0;
  color: #f9521a;
}


//-------------    customization     ------------------
// This is where all CSS customizations are placed for adding stylized layouts.

.main_table {
  display: inline-block;
  width: 100%;
}

.main_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sidebar, .blogs {
//left and middle
  display: inline-block;
}

.blogs {
  width: 75%;
}

.sidebar {
  vertical-align: top;
  width: 25%;
  color: #000000;
  // background-color: #c8f0fe;
  border-right: solid 2px #CECECE;
  font-size: 12px;
}

.sidebar a {
  color: #1a2e7a
}

.sidebar p {
  //Make sure to add more margins to the left.
  margin: 0 auto;
  padding: 0 10px 0 0;
  font-size: 12px;
}

.blog div {
  margin-top: 0;
  margin-bottom: 0;
}

.blog_content, .section_title {
  margin-left: 30px;
}

.blog_content div.title h3 {
  margin: 0 0 0 0;
}

.blog_content div.title a {
  color: #1a2e7a
}

.blog_content div.footer_navigation_menu a {
  font-size: 14px;
  color: #1a2e7a
}

a.back-to-top {
  font-size: 14px;
}

a.project_url {
  font-size: 16px;
}

//  margin:  top, right, bottom, left

.custom_h4 {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 15px 0;
}

.custom_h6 {
  margin: 10px 0 0 10px;
}

.custom_hr {
  display: block;
  margin: 20px 0 0 0;
  border-style: solid;
  border-width: 1px;
  color: #CECECE;
}

.custom_unordered_list {
  margin: 0 0 15px 0;

}

.blog_post h1 {
  height: 45px;
  padding-left: 25px;
}

div.project_showcase, div.side_project_showcase {
  margin: 1em;
  display: inline-block;
  width: 320px;
  height: 164px;  //Must take into account (the border size * 2) + original length.
  border-color: #000000;
  border: 2px solid;
}

div.portfolio_main hr.separator {
  display: block;
  margin: 20px 0 0 0;
  border: 1px solid #CECECE;
}

div.project_only p, div.side_only p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14px;
  text-align: center;
}

div.project_only img, div.side_only img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 320px;
  height: 160px;
}

div.project_only span.smaller_text, div.side_only span.smaller_text {
  font-family: $helveticaNeue;
  color: #777777;
  font-weight: bold;
  font-size: 12px;
}

hr.home_custom_hr {
  display: block;
  margin: 3em 0 0 0;
  border-style: solid;
  border-width: 1px;
  color: #CECECE;
}

div.home_project_showcase {
  margin: 1em auto;
  width: 400px;
  height: 208px;  //Must take into account (the border size * 2) + original length.
  border-color: #000000;
  border: 4px solid; 
}

div.home_project_showcase p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14px;
}

div.home_project_showcase p.title {
  margin: 1em 0 0 0;
  padding: 0 0 0 0;
  font-size: 16px;
  text-align: center;
}

div.home_project_showcase img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 400px;
  height: 200px;
}

div.home_blog_showcase {
  margin-top: 1em;
  text-align: center;
}

div.home_small_navigation {
  text-align: center;
}

div.home_small_navigation a {
  font-size: 14px;
  margin: 1em 1em 0 1em;
}

div.contactInfo .email {
  max-height: 0%;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

div.contactInfo:hover .email {
  max-height: 100%;
  transition: max-height 0.25s ease-in;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";