---
layout: default
---

<div class="section_title">
	<h1>Latest Blogs</h1>
</div>

<div class="blogs">
  {% for post in site.posts %}
    <article class="post">    
      
		<h3><a href="{{ site.baseurl }}/{{ site.blogs }}{{ post.title }}">{{ post.title }}</a></h3>
		{{ post.content }}

      <!--  This is used for counting the word size, and truncating it if it exceeds 120 words.
      {% assign wordCount = {{ post.content | size }} %}
      {% if wordCount > 120 %}
      	<div class="entry">
        	{{ post.content | truncatewords:120}}
      	</div>

      	<a href="{{ site.baseurl }}{{ post.url}}" class="read-more">Read More</a>
      {% elsif %} {% endif %} -->
    </article>
  {% endfor %}
</div>