---
layout: default
permalink: /blog/
---

<div class="section_title">
	<h1>Latest Blogs</h1>
</div>

<div class="blogs">
  {% for post in site.posts %}
    <article class="post">    
      
      <h3><a href="{{ site.baseurl }}/{{ site.blogs }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="entry">
        {{ post.content | truncatewords:60}}
      </div>

      <a href="{{ site.baseurl }}/{{ site.blogs }}{{ post.url }}" class="back-to-top">Back to Top</a>
    </article>
  {% endfor %}
</div>