---
layout: default
---

<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../js/animateProjectImage.js" type="text/javascript"></script>

<div class="portfolio_main">
	{% assign sorted = site.posts | sort: date:"%B %m %Y" %}
	<div class="project_only">
		<h3>Projects <span class="smaller_text">(Sorted by date of creation, hover over image to see demo, click image for more info)</span></h3>
		{% for project in sorted %}
			{% if project.tag contains "project" %}
				<div class="project_showcase">
					<p><a href="{{ project.projectUrl }}"><img style="border: 2px solid;border-color: #000" id="{{ project.jsid }}" src="{{ site.baseurl }}/assets/{{ project.showcaseImage }}"></a></p>
					<p><a class="project_url" href="{{ project.projectUrl }}">{{ project.title }} ({{ project.dateOfCreation }})</a></p>
					<p class="summary">{{ project.summary }}</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<hr class="separator">
	<div class="side_only">
		<h3>Side Projects <span class="smaller_text">(Sorted by date of creation)</span></h3>
		{% for side in sorted %}
			{% if side.tag contains "side" %}
				<div class="side_project_showcase">
					<p><a href="{{ side.projectUrl }}"><img id="{{ side.jsid }}" src="{{ site.baseurl }}/assets/{{ side.showcaseImage }}"></a></p>
					<p><a class="project_url" href="{{ side.projectUrl }}">{{ side.title }} ({{ side.dateOfCreation }})</a></p>
					<p class="summary">{{ side.summary }}</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<hr class="separator">
	<div class="tech_demo">
		<h3>Tech Demo <span class="smaller_text">(Sorted by semester, descending)</span></h3>
		{% for demo in sorted %}
			{% if demo.tag contains "demo" %}
				<div class="tech_demo_showcase">
					<embed width="480" height="360" src="https://www.youtube.com/v/{{ demo.youtubeURL }}" style="margin-bottom: 4px;" allowfullscreen>
					<p style="margin-top: -10px;"><a class="project_url" href="https://www.youtube.com/v/{{ demo.youtubeURL }}">{{ demo.title }}</a></p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<hr class="separator">
	<div class="documents">
		<h3>Documents <span class="smaller_text">(Sorted by semester, descending)</span></h3>
		{% for docs in sorted %}
			{% if docs.tag contains "docs" %}
				<div class="documents_showcase">
					<p style="margin-top: -10px;"><a href="{{ docs.assetFileURL }}">{{ docs.title }}</a></p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
</div>