---
layout: default
---

<div class="portfolio_main">
	{% assign sorted = site.posts | sort: date:"%B %m %Y" %}
	<div class="project_only">
		<h3>Projects <span class="smaller_text">(Sorted by date of creation)</span></h3>
		{% for project in sorted %}
			{% if project.tag contains "project" %}
				<div class="project_showcase">
					<p><a href="{{ project.projectUrl }}"><img src="{{ site.baseurl }}/assets/{{ project.showcaseImage }}"></a></p>
					<p><a href="{{ project.projectUrl }}">{{ project.title }} ({{ project.dateOfCreation }})</a></p>	
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<hr class="separator">
	<div class="side_only">
		<h3>Side Projects <span class="smaller_text">(Sorted by date of creation)</span></h3>
		{% for side in sorted %}
			{% if side.tag contains "side" %}
				<div class="side_project_showcase">
					<p><a href="{{ project.projectUrl }}"><img src="{{ site.baseurl }}/assets/{{ side.showcaseImage }}"></a></p>
					<p><a href="{{ project.projectUrl }}">{{ side.title }} ({{ side.dateOfCreation }})</a></p>	
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
